<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event details</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
      }

      body {
        background-color: #f9f9f9;
      }

      nav {
        background-color: #008080;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      nav img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }

      nav p {
        color: white;
        font-size: 20px;
        display: flex;
        align-items: center;
      }

      nav ul {
        display: flex;
        list-style-type: none;
      }

      nav ul li {
        margin-left: 20px;
      }

      nav ul li a {
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }

      nav ul li a:hover {
        background-color: #00b3b3;
      }

      .container {
        margin: 20px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
      }

      .container:hover {
        transform: translateY(-5px);
      }

      h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 10px;
        color: #555;
      }

      .container img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 20px;
      }

      button {
        padding: 15px 25px;
        cursor: pointer;
        background-color: #008080;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        transition: background-color 0.3s ease;
      }

      button:hover {
        background-color: #00b3b3;
      }
    </style>
  </head>
  <body>
    <nav>
      <p><img src="/images/logo.jpg" /><span>Sports Zone</span></p>
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/allEvents">All Events</a></li>
        <% if(flag == 1) {%>
        <li><a href="/addEvent">Add Event</a></li>
        <% } %>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
    <div class="container">
      <h2>Title: <%= eventDetails.eventTitle %></h2>
      <p><img src="<%= eventDetails.eventImg %>" /></p>
      <p>Description: <%= eventDetails.eventDesc %></p>
      <p>Venue: <%= eventDetails.eventVenue %></p>
      <p>Capacity: <%= eventDetails.eventCapacity %></p>
      <p>Event Start Date: <%= eventDetails.eventStartDate %></p>
      <p>Event Time: <%= eventDetails.eventTime %></p>
      <p>Event End Date: <%= eventDetails.eventEndDate %></p>
    </div>

    <% if(flag === 1) { %>
    <a href="/deleteEvent/<%= eventDetails.id %>">
      <button type="submit">Delete this Event</button>
    </a>
    <% } else { if(registered) {%>
    <a href="/registerEvent/<%= eventDetails.id %>">
      <button type="submit">Register To this event</button>
    </a>
    <% } else { %>
    <a href="/unRegisterEvent/<%= eventDetails.id %>">
      <button type="submit">Unregister from this event</button>
    </a>
    <% } %> <% } %>
  </body>
</html>
